*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tableHolder table{
    border-collapse: collapse;
}

#tableHolder td{
    border: 1px solid #ccc;
    padding: 10px;
}

.current{
    background-color: rgb(28, 191, 255, 0.5);
}

.dependency{
    background-color: rgba(255, 165, 0, 0.7);
}