*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tableHolder table{
    border-collapse: collapse;
}

#tableHolder td{
    border: 1px solid #ccc;
    padding: 10px;
}

.current{
    background-color: rgb(28, 191, 255, 0.5);
}

.exclude{
    background-color: rgb(255, 117, 117);
}

.include{
    background-color: greenyellow;
}